{% extends 'base.html' %}
{% block style %}
<style>
    #map {
        width: 85%;
        min-height: 650px;
        margin: 20px;
    }
</style>

<title>Mapa da Saúde</title>
{% endblock %}
{% block body %}
<div align="center">
    <div style="text-align: center;">
        <form action="{% url 'mapa' %}" method="POST">
            {% csrf_token %}
            <p>
                <h5>Selecione o agravo:</h5>
                <select class="form-control" id="agravo_notificacao" name="agravo_notificacao"
                    style="width: auto; min-width: 500px; margin: 0 auto; margin-top: 10px;">
                    {% for j in agravos_mapa %}
                    <option>{{j.nome}}</option>
                    {% endfor %}
                </select>
                <h5 style="margin-top: 10px;">Consultar o mapa por:</h5>
                <div class="form-check-inline">
                    <label class="form-check-label" for="escolha">
                        <input type="radio" class="form-check-input" id="escolha" name="escolha" value="cep_paciente" checked>
                        CEP dos pacientes
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label" for="escolha">
                        <input type="radio" class="form-check-input" id="escolha" name="escolha" value="area_ubs">
                        Área das UBS
                    </label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" name="notificacao_valor" id="ButtonModal"
                    style="margin-top: 10px;">
                    Consultar
                </button>
            </p>
        </form>
    </div>
    <div id="map"></div>
</div>
<script>

    function initMap() {

        //Cria o mapa inicial
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: -5.0364390,
                lng: -42.822612
            },
            zoom: 11,
            mapTypeId: 'roadmap'
        });

        {% if escolha_notificacao.0 == "cep_paciente" %}
        let cepNotificacoes = [] // array que recebe as coordenadas das notificações
        let situacaoNotificacoes = [] // array de inteiros que serve para armazenar a situação atual das notificações
        recebeCEP(cepNotificacoes, situacaoNotificacoes)
        for (i = 0; i < cepNotificacoes.length; i++) {
            encontraQuadra(cepNotificacoes[i], situacaoNotificacoes[i], map)
        }
        {% endif %}

        {% if escolha_notificacao.0 == "area_ubs" %}
        let coordenadasUBS = []
        let situacaoNotificacoes = []
        recebeCoordenadas(coordenadasUBS, situacaoNotificacoes)
        montaPoligonos(coordenadasUBS, situacaoNotificacoes, map)
        {% endif %}
    }

    // Função para receber os ceps do banco de dados
    function recebeCEP(cepNotificacoes, situacaoNotificacoes) {
        {% for i in notificacoes_mapa %}
        {% if i.situacao_atual == "Notificado" %}
        situacaoNotificacoes.push(1)
        {% endif %}
        {% if i.situacao_atual == "Confirmado" %}
        situacaoNotificacoes.push(2)
        {% endif %}
        {% if i.situacao_atual == "Alta" %}
        situacaoNotificacoes.push(3)
        {% endif %}
        {% if i.situacao_atual == "Óbito" %}
        situacaoNotificacoes.push(4)
        {% endif %}
        cepNotificacoes.push("{{i.paciente.cep}}")
        {% endfor %}
    }

    // Função que envia uma requisição com o cep para a api viacep e retorna um json com o endereço
    function encontraQuadra(cep, situacao, mapa) {
        var ourRequest = new XMLHttpRequest()
        ourRequest.open('GET', 'https://viacep.com.br/ws/' + cep + '/json/')
        ourRequest.onload = function () {
            if (ourRequest.status >= 200 && ourRequest.status < 400) {
                var ourData = JSON.parse(ourRequest.responseText)
                marcaMapa(ourData.bairro + " " + ourData.logradouro + " " + ourData.complemento, situacao, mapa)
            } else {
                window.alert("Conexão com o servidor feita com sucesso, porém ele retornou um erro")
            }
        }
        ourRequest.onerror = function () {
            window.alert("Um erro ocorreu")
        }
        ourRequest.send()
    }

    // Função que usa a geocoding api da google para colocar um marcador no endereço indicado
    function marcaMapa(address, situacao, mapa) {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status === 'OK') {
                if (situacao == 1) {
                    var marker = new google.maps.Marker({
                        map: mapa,
                        position: results[0].geometry.location,
                        icon: {
                            url: "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"
                        }
                    });
                }
                if (situacao == 2) {
                    var marker = new google.maps.Marker({
                        map: mapa,
                        position: results[0].geometry.location,
                        icon: {
                            url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
                        }
                    });
                }
                if (situacao == 3) {
                    var marker = new google.maps.Marker({
                        map: mapa,
                        position: results[0].geometry.location,
                        icon: {
                            url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
                        }
                    });
                }
                if (situacao == 4) {
                    var marker = new google.maps.Marker({
                        map: mapa,
                        position: results[0].geometry.location,
                        icon: {
                            url: "http://maps.google.com/mapfiles/ms/icons/purple-dot.png"
                        }
                    });
                }
            }
            else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

    // Função para preencher um array com a string das coordenadas vinda do banco e outro array com as situações atuais 
    function recebeCoordenadas(coordenadasNotificacoes, situacaoNotificacoes) {
        // Preenche ambos arrays, coordenadasNotificacoes com as coordenadas e situacaoNotificacoes com a situação atual
        {% for i in notificacoes_mapa %}
        {% if i.situacao_atual == "Notificado" %}
        situacaoNotificacoes.push(1)
        {% endif %}
        {% if i.situacao_atual == "Confirmado" %}
        situacaoNotificacoes.push(2)
        {% endif %}
        {% if i.situacao_atual == "Alta" %}
        situacaoNotificacoes.push(3)
        {% endif %}
        {% if i.situacao_atual == "Óbito" %}
        situacaoNotificacoes.push(4)
        {% endif %}
        coordenadasNotificacoes.push("{{i.unidade_saude.coordenadas}}")
        {% endfor %}
    }

    // Função que monta um array com longitude e latitude com base numa string com as coordenadas
    function buildCoordinatesArrayFromString(CoordenadasString) {
        var finalData = []; // Array com latitude e longitude 
        var grouped = CoordenadasString.split("                 "); // Cria um array de substrings divididas a partir do espaço usando a função split()

        // Função que é responsável por separar a latitude e a longitude e depois depositar cada instância no array finalData
        grouped.forEach(function (item, i) { // percorre cada elemento do array grouped usando o forEach
            let a = item.trim().split(','); // trim() serve para elimitar os espaços e o split serve para criar um array de substrings divididas a partir da vírgula, separando lat e lng
            // coloca o novo elemento com lgn e lat no array de coordenadas
            finalData.push({
                lng: parseFloat(a[0]),
                lat: parseFloat(a[1])
            });
        });

        // Retorna o array com todas as coordenadas devidamente organizadas
        return finalData;
    }

    // Função para criar e desenhar os poligonos no mapa
    function montaPoligonos(coordenadasNotificacoes, situacaoNotificacoes, mapa) {
        let delimiter_coordenadas = [] // array para receber as coordenadas devidamente organizadas

        // loop para construir o array com as coordenadas devidamente organizadas
        for (j in coordenadasNotificacoes) {
            delimiter_coordenadas.push(buildCoordinatesArrayFromString(coordenadasNotificacoes[j]));
        }

        array_poligono = [] // array com os poligonos a serem desenhados no mapa

        // For para construir o poligono a ser inserido no mapa.
        for (let z = 0; z < delimiter_coordenadas.length; z++) {

            // Caso a situação seja notificado, o poligono é pintado de amarelo
            if (situacaoNotificacoes[z] == 1) {
                var ubs_poligono = new google.maps.Polygon({
                    paths: delimiter_coordenadas[z],
                    strokeColor: '#FFFF00',
                    strokeOpacity: 0.8,
                    strokeWeight: 3,
                    fillColor: '#FFFF00',
                    fillOpacity: 0.35
                });
            }

            // Caso a situação seja confirmado, o poligono é pintado de vermelho
            if (situacaoNotificacoes[z] == 2) {
                var ubs_poligono = new google.maps.Polygon({
                    paths: delimiter_coordenadas[z],
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 3,
                    fillColor: '#FF0000',
                    fillOpacity: 0.35
                });
            }

            // Caso a situação seja alta, o poligono é pintado de azul
            if (situacaoNotificacoes[z] == 3) {
                var ubs_poligono = new google.maps.Polygon({
                    paths: delimiter_coordenadas[z],
                    strokeColor: '#0000FF',
                    strokeOpacity: 0.8,
                    strokeWeight: 3,
                    fillColor: '#0000FF',
                    fillOpacity: 0.35
                });
            }

            // Caso a situação seja óbito, o poligono é pintado de roxo
            if (situacaoNotificacoes[z] == 4) {
                var ubs_poligono = new google.maps.Polygon({
                    paths: delimiter_coordenadas[z],
                    strokeColor: '#800080',
                    strokeOpacity: 0.8,
                    strokeWeight: 3,
                    fillColor: '#800080',
                    fillOpacity: 0.35
                });
            }

            // Insere no array de poligonos o poligono criado
            array_poligono.push(ubs_poligono)
        }

        // Desenha todos os poligonos criados no mapa
        for (w in array_poligono) {
            array_poligono[w].setMap(mapa);
        }
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initMap" async
    defer></script>
{% endblock %}