{% extends 'core/base.html' %}
{% load staticfiles%}

{% block style %}
#ButtonMapa,
#ButtonAgravo,
#ButtonPaciente {
padding: 10px 20px;
font-size: 20px;
margin: 5px;
min-width: 100px;
}

#linkCadastro {
color: white;
}

table {
background-color: white;
}
{% endblock %}

{% block title %}
<title>Lista dos Pacientes da UBS</title>
{% endblock %}

{% block navbar %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'patient:home' %}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'notification:notificacao_list' %}">Notificações</a>
</li>
{% endblock %}
{% block mapa_active %}
class="nav-item"
{% endblock %}

{% block body %}
<div style="text-align: center;">
    <div class="jumbotron mx-auto" style="max-width:75%; max-height:75%; margin:50px;">
        {% if pacientes %}
        <div style=" overflow-y : scroll; height: 300px;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Paciente</th>
                        <th>CNS</th>
                        <th>Sexo</th>
                        <th>Data de nascimento</th>
                        <th>Ocupação</th>
                        <th>UF</th>
                        <th>Município</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in pacientes %}
                    <tr>
                        <td>{{i.nome}}</td>
                        <td>{{i.cns}}</td>
                        <td>{{i.sexo}}</td>
                        <td>{{i.data_nascimento}}</td>
                        <td>{{i.ocupacao}}</td>
                        <td>{{i.uf}}</td>
                        <td>{{i.municipio}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="pagination" style="margin: 10px 0;">
            {% if pacientes.has_previous  %}
            <li class="page-item"><a class="page-link" title="Primeira página" href="?page=1">
                    <i class="fa fa-fast-backward" style="padding: 2px;"></i>
                </a>
            </li>
            <li class="page-item"><a class="page-link" title="Página Anterior"
                    href="?page={{pacientes.previous_page_number}}">
                    <i class="fa fa-backward" style="padding: 2px;"></i>
                </a>
            </li>
            {% endif %}
            {% for i in pacientes.paginator.page_range %}
            <li class="page-item {% if pacientes.number == i %} active {% endif %}"><a class="page-link"
                    href="?page={{i}}">{{i}}</a>
            </li>
            {% endfor %}
            {% if pacientes.has_next %}
            <li class="page-item"><a class="page-link" title="Próxima página"
                    href="?page={{pacientes.next_page_number}}">
                    <i class="fa fa-forward" style="padding: 2px;"></i>
                </a>
            </li>
            <li class="page-item"><a class="page-link" title="Útima página"
                    href="?page={{ pacientes.paginator.num_pages }}">
                    <i class="fa fa-fast-forward" style="padding: 2px;"></i>
                </a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
        <div class="btn-group" style="margin-top: 10px;">
            <form action="{% url 'patient:novo_paciente' %}" method="GET">
                <button type="submit" id="ButtonPaciente" class="btn btn-primary btn-lg">
                    Cadastrar Paciente
                </button>
            </form>
            <form action="{% url 'notification:notificacao_list' %}" method="GET">
                <button type="submit" id="ButtonAgravo" class="btn btn-warning btn-lg">
                    <div id="linkCadastro">Notificações</div>
                </button>
            </form>
            <button type="button" class="btn btn-info btn-lg" id="ButtonMapa" data-toggle="modal"
                data-target="#modal_mapa">Consultar o Mapa</button>
        </div>
    </div>
</div>
{% endblock %}

</html>